@page
@model IndexModel
@{
    ViewData["Title"] = "Agencia de Empleo Bogotá";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style2.css" asp-append-version="true" />
    <title>Document</title>
</head>

<body>
    <h1 class="nombre">Agencia de Empleo Bogotá</h1>
    <div class="content">
        <div class="container">
            <a href="InicioSesionE">
            <div class="empleador">
                <h1>BUSCO CANDIDATOS</h1>
             </div>
            </a>
         </div>
         <div class="container">
             <a href="IniciarSesion">
                 <div class="empleador">
                    <h1>BUSCO EMPLEO</h1>
                 </div>
             </a>
         </div>
     </div>
</body>

</html>
@*<div class="text-center">
    <h1 class="btn-danger">Bienvenido</h1> 
    
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
*@